#logo{
    height: 200px;
    width: 230px;
}
body{
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}
#link{
    height: 30px;
    
}
.texts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 400px;
}

.inputs{
    margin-top: -50px;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    height: 40px;
}

#div1{
    text-align: center;
}

#buttons{
    font-size: 20px;
    text-align: center;
   
}

.todo_type{
    margin-top: -40px;
    text-align: left;
    height: 30px;
    width:100px;
}